<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= @headers['title'] %> | by <%= @headers['author']%></title>

    <meta name="generator" content="Slide Show (S9)">
    <meta name="author" content="<%= @headers['author']%>">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <style>
        h1,h2,h3,h4,h5,h6{
            text-align: center;
        }

        /*loading style, title and author*/
        div#loading{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 1s;

            background: rgb(21, 21, 21);
        }
        div#loading h1{
            margin: 0;
            padding-top: 80px;
            padding-bottom: 20px;

            background: rgb(53, 53, 53);
            border-bottom: #8ADFFF solid 3px;
            color: rgb(152, 255, 189);
        }
        div#loading h3{
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;

            background: rgb(72, 84, 66);
            color: rgba(255, 179, 94, 1);
        }
        div#loading.done{
            opacity:0;
        }

        div#loading .spinner {
            -webkit-animation: rotation 1.4s linear infinite;
            animation: rotation 1.4s linear infinite;
            stroke: rgba(0, 149, 207, 1);
            margin-left: auto;
            display: block;
            margin-right: auto;
            margin-top: 10%;
        }
        @-webkit-keyframes rotation {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
        @keyframes rotation {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
        div#loading .spinner .circle {
            stroke-dasharray: 187;
            stroke-dashoffset: 0;
            -webkit-transform-origin: center;
            -ms-transform-origin: center;
            transform-origin: center;
            -webkit-animation: turn 1.4s ease-in-out infinite;
            animation: turn 1.4s ease-in-out infinite;
        }
        @-webkit-keyframes turn {
            0% {
                stroke-dashoffset: 187;
            }
            50% {
                stroke-dashoffset: 46.75;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            100% {
                stroke-dashoffset: 187;
                -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
            }
        }
        @keyframes turn {
            0% {
                stroke-dashoffset: 187;
            }
            50% {
                stroke-dashoffset: 46.75;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            100% {
                stroke-dashoffset: 187;
                -webkit-transform: rotate(450deg);
                transform: rotate(450deg);
            }
        }

        /*the background*/
        body {
            background: #545454; /* Old browsers */
            background: -moz-radial-gradient(center, ellipse cover,  #545454 0%, #262626 100%); /* FF3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#545454), color-stop(100%,#262626)); /* Chrome,Safari4+ */
            background: -webkit-radial-gradient(center, ellipse cover,  #545454 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
            background: -o-radial-gradient(center, ellipse cover,  #545454 0%,#262626 100%); /* Opera 12+ */
            background: -ms-radial-gradient(center, ellipse cover,  #545454 0%,#262626 100%); /* IE10+ */
            background: radial-gradient(ellipse at center,  #545454 0%,#262626 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


            font-family: 'Montserrat', sans-serif;
        }

        /*normal step*/
        .step {
          color:rgb(152, 255, 189);
          width: 1024px;
          height: 576px;
          padding: 40px 60px;

          font-size: 32px;

          opacity: 0.9;
          line-height: 1.6;

          transition: all 0.5s ease 0s;
        }

        .step.future {
          opacity: 0;
          pointer-events:none;
        }

        .step.active {
          opacity: 1;
          text-shadow: 0px 0px 20px black;
        }

        .step.present {
            z-index: 100;
        }

        /*markdown elements*/
        h2{
            margin-top: 20%;
            margin-bottom: 10px;
        }

        h4{
            margin-top: 0;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
        }

        pre {
            background-color: rgba(56, 186, 112, 1);
            padding: 15px;
            overflow: auto;
        }

        code {
            background-color: rgba(56, 186, 112, 0.82);
            color: #D1CABC;
            border-radius: 10px;
            padding: 7px;
            font-family: "Consolas","Montserrat",sans-serif;
        }

        blockquote {
            margin: 0px;
            padding-left: 40px;
            border-left: 10px solid #000;
            color: rgba(105, 105, 105, 1)
        }

        blockquote blockquote{
            border: none;
        }

        blockquote p{
            margin: 0;
        }

        img {
            max-width: 100%;
        }

        ul {
            padding-left: 1.75em;
            margin: 0px 0px 20px;
        }

        a {
            color: rgba(0, 149, 207, 1);
        }

        strong {
            color: rgba(255, 179, 94, 1);
        }

        /*controls*/

        .controls {
            position: absolute;
            bottom: 20px;
            left: 20px;
        }

        .arrow {
            width: 0px;
            height: 0px;
            border: 30px solid rgba(153, 186, 213, 0.5);
            float: left;
            margin-right: 30px;
            -moz-user-select: none;
        }

        .prev {
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-left-width: 0px;
            border-right-width: 50px;
        }

        .prev:hover {
            border-right-color: rgba(194, 217, 225, 1);
            cursor: pointer;
        }

        .next {
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-left-width: 50px;
            border-right-width: 0px;
        }

        .next:hover{
            border-left-color: rgba(194, 217, 225, 1);
            cursor: pointer;
        }

        /* customization options of steps*/

        .slide {
            background: #383838;
            border: black solid 1px;
            border-radius: 10px;
            overflow: auto;
        }
        .slide.active {
            box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
        }

        .step.unclickable {
            pointer-events:none;
        }

        .step.center p {
            text-align: center;
        }

        .step.showOnlyWhenPresent {
            opacity: 0;
            pointer-events:none;
        }

        .step.showOnlyWhenPresent.present {
            opacity: 1;
            pointer-events:default;
        }

        .step.picture img{
            max-height: 400px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .step.slogen h2{
            margin-top: 15%;
            font-size: 1.9em;
        }

        <%= content_for :css %>
    </style>
</head>

<body class="impress-not-supported">

<div id="impress">

    <!-- note: assumes no header (breaking slides w/ SLIDE directive) -->
<% @slides.each do |slide| %>
    <div class='step <%= slide.classes %>' <%= slide.data_attributes %>>
      <%= slide.content %>
    </div>
<% end %>

</div>

<div id="loading">
    <h1><%= @headers['title'] %></h1>
    <h3><%= @headers['author']%></h3>
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
</div>

<div class="controls">
    <div class="arrow prev"></div>
    <div class="arrow next"></div>
</div>

<script src="http://netdna.impressjscdn.com/impressjs/0.5.3/js/impress.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    var impressInstance;
    $(document).ready(function(){
        impressInstance = impress();
        impressInstance.init();
        /*impressInstance.prev_ori = impressInstance.prev;*/
        impressInstance.next_ori = impressInstance.next;
        impressInstance.next = function(){
            impressInstance.next_ori();
            $("div.step.active").removeClass("future");
        };
        $(".controls .arrow.prev").click(impressInstance.prev);
        $(".controls .arrow.next").click(impressInstance.next);
        if(window.location.hash)
            $("div#impress div.step" + window.location.hash.replace("#/","#")).prevAll().removeClass("future");
        setTimeout(function(){
            $('div#loading').addClass('done');
            setTimeout(function(){
                $('div#loading').remove();

            },1000);
        },2000);
    });
</script>

</body>
</html>
